doctype html
html
  head
  body
    form(action="/api/img-upload", method="POST", enctype="multipart/form-data")
      input(name="id")
      input(name="headstone_img",type="file",accept="image/*")
      input(type="submit", value="Submit")
